.show{
    border-bottom-style: solid;
    border-color: gray;
    border-width: 0.5px;
}
.main{
  margin: 20px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

.title{
  border-bottom-style: solid;
    border-color: gray;
    border-width: 0.5px;
}
.loading{
  margin-top: 5%;
  margin-bottom: 5%;
}
img{
  max-width: 30%;
}
.showHeading{
  border-bottom-style: solid;
    border-color: gray;
    border-width: 0.5px;
}
.headerButtons{
  display: flex;
  justify-content: space-between;
}