<div class = main >
    <div class= "banner">

    <div  *ngIf = "imageBlobUrl.length === 0 && !isLoading">
        <div *ngFor = "let picUrl of imageBlobUrlBanner;">
            <img [src]="picUrl">
        </div>
    </div>
        
            <div class= "umhvefing"  >
            <div class = "grid" *ngIf = "!showFullImg">
            <p>{{this.chosen}}</p>
            <p>{{this.description}}</p>
                <mat-grid-list cols = "4" rowHeight = "1:1">
                    <mat-grid-tile *ngFor = "let pic of imageBlobUrl; let i = index "> 
                        <img class= "img" [src]="pic.url" (click) = open(i)>
                        <div *ngIf = "pic.description">
                            <p>{{pic.description.title}}</p>
                            <p>{{pic.description.size}}</p>
                            <p>{{pic.description.description}}</p>
                            <p>{{pic.description.photoId}}</p>
                        </div>
                        
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div class= "fullImgContainer" *ngIf = "showFullImg">
                <button mat-button *ngIf = "showLeft" (click) = "nextImg()">
                    <span class="material-icons" >
                        keyboard_arrow_left
                    </span> 
                </button>
                <div>
                    <img [src] = "fullImgUrl">
                    
                </div>
                
                <button mat-button *ngIf = "showRight" (click) = "lastImg()">
                    <span class="material-icons">
                        keyboard_arrow_right
                    </span>
                </button>
            </div>
        </div>
    </div>
    
    <div class = "list">
        <button mat-button *ngIf = "showFullImg" (click) = "goBack()">Til baka</button>
        <button mat-button (click) = "goHome()">Forsíða/Home</button>
        <!--<button mat-button (clicl) = "goCv()">Um mig- eða hvað hehe</button>-->
        <div *ngFor = "let show of shows; let i = index">
            <button mat-button (click) = "goToShow(i)">{{show.name}}</button>

        </div>
        
    </div>

</div>

