.main{
    background-color: gray;
    height: 100%;
    display: flex;
    width: 100%;
}
.banner{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: white;
    width: 60%;
    height: 100%;

}
.buttons button{
    background-color: gray;
    color: white;
    text-align: left;
    font-family: 'Coda', cursive;
    width: 100%;
}

.list{
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 40%;
    left: 60%;
    height: 100%;
    justify-content: center;
}
.grid{
    margin: 7%;
    margin-top: 5%;
}
.umhvefing{
    width: 100%;
    height: 100%;
}
.fullImgContainer{
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-items: flex-start;
}
.fullImgContainer p{
    margin-left: 20px;
    margin-top: 20px;
}
.fullImgContainer img {
    max-width: 70%;
    max-height: inherit;
}
.fullImgContainer button{
    max-width: 10%;
}
p{
    font-family: 'Coda', cursive;
    color: gray;
    margin-bottom: 3%;
    font-style: none;
}
.umhvefing img{
    display: block;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.bigImage{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bigImage button{
    height: 50px;
}
.temp{
    height: 100%;
}
.coverPhoto{
    height: inherit;
}
.temp img{
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.tile{
    display: flex;
    justify-content: flex-start !important; 
    align-self: flex-start !important;
}

