<div class = main *ngIf = "show">
    <div *ngIf = "!showCv">
        <div class = "banner" *ngFor = "let picUrl of imageBlobUrlBanner;">
            <img [src]="picUrl">
        </div>
    </div>
    <div  *ngIf = "showCv">
        <div class="banner" *ngFor = "let picUrl of imageBlobUrlCv;">
            <img [src]="picUrl">
        </div>
    </div>
    <div class = "list">
        <button mat-button routerLink = "/paintings" routerLinkActive="active" >myndlist / paintings</button>
        <button mat-button *ngIf = "!showCv" (click) = "goCv()">ferilskrá / cv</button>
        <button mat-button routerLink = "/contact" routerLinkActive="active">hafa samband / contact</button>
        <button mat-button *ngIf = "showCv" (click) = "goBack()">Til baka / back</button>

    </div>
</div>


