<div>
    <h1>Breyta forsíðumynd</h1>
    <div class = "headerButtons">
        <button mat-button (click) = "refresh()">
        <p>Breytingin sést þegar þú ýtir hér</p>
          <span class="material-icons">
            refresh
            </span>  
        </button>
      </div>
      <div>
        <button mat-button (click)="submitFile()">
            Breyta mynd
        </button>
        <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
    </div>
    <div class = "cvImg" *ngFor = "let picUrl of imageBlobUrl; let i = index">
        <img [src]="picUrl">
    </div>
    
</div>
